.App{
  background-color: #f4f4f4;
  width: 955px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;  
}
.imgHeader{
  padding: 12px 12px;
}

.aba{
  list-style-type: none;
}

.subtitle{
  font-size: 10px;
  color: gray !important
}

.react-tabs__tab--selected{
  color: #b3545d !important;
  background: #f4f4f4 !important;
  border-color: #f4f4f4 !important;
  border-bottom: #b3545d 3px solid  !important;
  position: fixed;
  z-index: 2;
}

.react-tabs__tab-list{
  border-bottom: 0 !important
}

 .btn-vender{
  
  color: #e88d09;
  border: 2px solid #e88d09;
  padding: 8px 28px;
  background: #f4f4f4;
  margin-left: 750px;  
  font-weight: bold;
  
}

.btn{
  
  margin-top: 20px;
  position: absolute;
}

.main{
  margin-left: 10px;
}

.title{
  font-size: 22px;
  font-weight: 500;
}

.aba{
  display: flex;
}

.carro{
  margin-top: 35px;
}


@media (max-width: 1024px){
  .App{
    background-color: #f4f4f4;
    width: 955px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;  
  }
  .title{
    font-size: 52px;
    font-weight: 500;
  }
  .btn-vender{
  
    color: #e88d09;
    border: 2px solid #e88d09;
    padding: 8px 28px;
    background: #f4f4f4;
    margin-left: 650px;  
    font-weight: bold;
    width: 250px;
    font-size: 22px;
    
  }

  .btn{
  
    margin-top: 45px;
    position: absolute;
  }
  
  
}